<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href = "./highScores.css">
    <title>VOLCANO RUSH</title>
</head>
<body>
        <div id = "pageTwo">
                <nav class = "navBar">
                    <h1 class = "title"><a href = './'>VOLCANO RUSH</h1></a>
                    <ul class = "navItems">
                        <li class = "navItem"><a href = './'>GAME</li></a>
                        <li class = 'navItem'><a href = './highScores'>HIGH SCORES</li></a>
                    </ul>
                    <div class= "githubLink">
                        <a href = 'https://github.com/JonFobert'>
                            <img src = './assets/githubLogo.png'>
                        <a href = 'https://github.com/JonFobert'>/JonFobert</a>
                        </a>
                    </div>
                </nav>
            <div class = "scoreScreen"></div>
            <% if(CurrentScore > HighScore[4].score) { %>
                <h1 class='pageHeading'>HIGH SCORE!</h1>
                <div class ='nameEntry'>    
                    <h2>FINAL SCORE: <%= CurrentScore %></h2>
                    <h2>ENTER YOUR NAME:</h2>
                    <form action ="/highScores" method="POST" class = "nameEntry">
                        <input type="text" name="name" placeholder= " _ _ _ " id="nameField" autocomplete="off" maxlength="3" autofocus="autofocus">
                    <form>
                </div>
            <% } else { %>
                <h1 class = 'pageHeading'>HIGH SCORES</h1>
            <% } %>
                
                <br>
                <table class = 'gameOverTable'>
                    <tr>
                        <th id="firstColumn">RANK</th>
                        <th id="secondColumn">NAME</th>
                        <th id="thirdColumn">SCORE</th>
                    <tr>
                        <td>1ST</td>
                        <td><%=HighScore[0].name%></td>
                        <td><%=HighScore[0].score%></td>
                    </tr>
                    <tr>
                        <td>2ND</td>
                        <td><%=HighScore[1].name%></td>
                        <td><%=HighScore[1].score%></td>
                    </tr>
                    <tr>
                        <td>3RD</td>
                        <td><%=HighScore[2].name%></td>
                        <td><%=HighScore[2].score%></td>
                    </tr>
                    <tr>
                        <td>4TH</td>
                        <td><%=HighScore[3].name%></td>
                        <td><%=HighScore[3].score%></td>
                    </tr>
                    <tr>
                        <td>5TH</td>
                        <td><%=HighScore[4].name%></td>
                        <td><%=HighScore[4].score%></td>
                    </tr>
                </table>
            </div>
    </div>
</body>
</html>